/* TEAM ADD FUNC! -- Here's our stylesheet */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#board_wrapper {
    border: 5px solid black;
    margin: 0 auto;
    //width: auto;
    font-size: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.row {

}

.row .column {
    font-size: initial;
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid gray;
}

.p1, .p2, .p3 {

}

.p1 {
    background-color: blue;
}

.p2 {
    background-color: red;
}

.p3 {
    background-color: green;
}

#setup_background,
#won_background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

#setup_wrapper,
#won_wrapper {
    border: 2px solid black;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 3%;
}

#setup_background {
    visibility: visible;
}

#setup_wrapper {

}

#won_background {
    visibility: hidden;
}

#won_wrapper {

}