/* TEAM ADD FUNC! -- Here's our stylesheet */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {

}

#board_wrapper {
    border: 5px solid black;
    margin: 0 auto;
    //width: auto;
    font-size: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.row {
    background-color: rgba(0,0,0,0.7);
}

.row .column {
    font-size: initial;
    display: inline-block;
    height: 50px;
    width: 50px;
}

.row:nth-child(odd) .column:nth-child(odd) {
    background-color: rgba(0,0,0,0.1);
}

.row:nth-child(even) .column:nth-child(even) {
    background-color: rgba(0,0,0,0.1);
}

.p1, .p2, .p3 {

}

.p1 {
    background: url(images/p1.png);
    background-size: contain;
    background-position: center;

}

.p2 {
    background: url(images/p2.png);
    background-size: contain;
    background-position: center;
}

.p3 {
    background: url(images/p3.png);
    background-size: contain;
    background-position: center;
}

#setup_background,
#won_background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

#setup_wrapper,
#won_wrapper {
    border: 2px solid black;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 3%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#setup_background {
    visibility: visible;
}

#setup_wrapper {

}

#won_background {
    visibility: hidden;
}

#won_wrapper {
    text-align: center;
}